<% include partials/header.ejs %>
<H1><%= campground.name %></H1>

<img src="<%= campground.image %>">

<p><%= campground.description%></p>
<a href="/campgrounds">Go back</a>
<% include partials/footer %>
