<% include partials/header %>
<h1>This is the home page!</h1>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEXRh078ofhsujohQdBMxCkOwksm4Zuy81fQAo7jLNdHWD0yGYz7wZPsc">
<% include partials/footer %>