<% include partials/header %>
<h1>You fell in love with: <%=thingVar.toUpperCase()%> </h1>
<%if(thingVar.toLowerCase() === "rusty"){%>
    <p>Good Choice! Rusty Is the best </p>
<% } else {%>
    <p>BAD CHOICE! You should have said Rusty!</p>
<% } %>
<p>P.S. This is the love.ejs file</p>
<% include partials/footer %>